/chaincode/node_modules
/api/node_modules
/api/wallet
/api/cred
/api/config
/frontend/node_modules
/fabric/crypto-config
/fabric/channel-artifacts
frontend/package-lock.json
/fabric/newOrg/crypto-config
chaincode/package-lock.json
chaincode/npm-install-27776.sh
