<!DOCTYPE html>
<html lang="en">

<head>
	<title>MediTrack</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Logistic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener( "load", function () {
			setTimeout( hideURLbar, 0 );
		}, false );

		function hideURLbar() {
			window.scrollTo( 0, 1 );
		}
	</script>

	<!-- css files -->
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
	<link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
		rel="stylesheet">

</head>

<body>
	<!-- //header -->
	<header>
		<div class="" width="100%">

			<nav class="pt-2">
				<div id="logo" style="margin-left: 20px">
					<h1> <a href="/"><span> <img src="cardiogram.svg" height="30px"></span> MediTrack</a></h1>
				</div>
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop" />
				<ul class="menu mt-md-2 ml-auto">
					<li class="mr-lg-4 mr-2 active"><a href="/">Home</a></li>
					<li class="mr-lg-4 mr-2"><a href="">About Us</a></li>
					<li class="mr-lg-4 mr-2"><a href="">Services</a></li>
					<li class="mr-lg-3 mr-2 p-0">
						<!-- First Tier Drop Down -->

						<input type="checkbox" id="drop-2" />
						<ul class="inner-dropdown">
							<li><a href="gallery.html">Our Gallery</a></li>
							<li><a href="error.html">404 Error Page</a></li>
							<li><a href="#">Add Link</a></li>
						</ul>
					</li>
					<li class="mr-lg-4 mr-2"><a href="contact.html">Contact</a></li>

				</ul>
			</nav>
			<!-- //nav -->
		</div>
	</header>
	<!-- //header -->

	<!-- banner -->
	<section class="banner position-relative" id="home">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<div class="agileinfo-logo mt-lg-5">
						<h2>Trace And Track Medicine on the Blockchain <br></h2>

					</div>
				</div>
			</div><a name="top"></a>
			<div class="choose text-center position-absolute d-lg-flex">
				<a href="/manufacturer">
					<div class="choose-icon">
						<span aria-hidden="true"><img src="pills.svg" height="64px"></span>
						<div class=" choose-grid">
							<h3 class="mt-4">Manufacturer</h3>
							<p class=""> Medicine Manufacturer</p>
						</div>
				</a>
			</div>
			<a href="/distro">
				<div class="choose-icon">
					<span class="" aria-hidden="true"><img src="delivery.png"></span>
					<div class="choose-grid">
						<h3 class="mt-4">Distributor</h3>
						<p class="">Distributor</p>
					</div>
			</a>
		</div>
		<div class="choose-icon">
			<a href="/pharmacy"><span aria-hidden="true"><img src="icon.png" /></span></a>
			<div class="choose-grid">
				<h3 class="mt-4">Pharmacy</h3>
				<p class="">Hospitals/pharmacy</p>
			</div>
		</div>
		<div class="choose-icon">
			<span class="" aria-hidden="true"><img src="delivery-truck.png"></span>
			<div class="choose-grid">
				<h3 class="mt-4">Logistics</h3>
				<p class="">Logistics</p>
			</div>
		</div>
		
			<div class="choose-icon">
				<a href="/transactions"><span class="" aria-hidden="true"><img src="database.png"></span></a>
				<div class="choose-grid">
					<h3 class="mt-4"> Transactions</h3>
					<p class="">Transacted Data</p>
				</div>
			</div>
		
		<div class="clearfix"></div>
		</div>
		</div>
	</section>
	<div class="clearfix"></div>
	<!-- //banner -->

	<!-- about -->
	<section class="about py-5" id="how">
		<div class="container py-lg-5">
			<div class="row about-grids">
				<div class="col-lg-6 about-left">
					<img src="images/about.jpg" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
					<h3 class="my-lg-4 mb-2">Track And Trace Medicine on the Blockchain</h3>
					<p class="">The MediTrack Project, backed by Activa Inc, has successfully piloted a program that
						uses blockchain to track medicines. They aim to track the entire supply chain of medicine from
						the manufacturer uptill the patient.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->
	<!--footer -->
	<div class="footer footer_w3layouts_section_1its py-5" id="subscribe">
		<div class="container pt-sm-4">
			<div class="row footer-grid">
				<div class="col-md-5 footer-grid_section_1its_w3">
					<div class="footer-title">
						<h3>Who we are</h3>
					</div>
					<div class="footer-text">
						<p>We MediTrack are blockchain enabled Trackering managemnet system.we Track Medicines Straight
							From the Manufacturer to you </p>
						<ul class="social_section_1info">
							<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-5 footer-grid_section_1its_w3 mt-md-0 mt-4">
					<div class="footer-title">
						<h3>Useful Links</h3>
					</div>
					<ul class="links">
						<li><a href="about.html">About Our Company</a></li>
						<li><a href="services.html">Logistics Services</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privicy Policy</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-7 footer-grid_section_1its_w3 mt-md-0 mt-4">
					<div class="footer-title">
						<h3>Subscribe</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will get latest news and updates from us.</p>
						<form action="#" method="post">
							<input type="email" name="Email" placeholder="Enter your email..." required="">
							<button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- move top -->
			<div class="move-to-top text-center">
				<a href="#home" class="move-top"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
			</div>
			<!-- //move top -->
			<div class="copyright">
				<p>© 2019 mediTrack. All Rights Reserved </p>
			</div>
		</div>
	</div>
	<!-- //footer -->

</body>

</html>